<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120154997705-3obhp06vkhks62qj41ukk9h9vot80k7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120154997705-3obhp06vkhks62qj41ukk9h9vot80k7h</string>
	<key>API_KEY</key>
	<string>AIzaSyBY-Y1Ol94m1Wl6D4PY_FP2VfOjqR3g_kE</string>
	<key>GCM_SENDER_ID</key>
	<string>120154997705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acrocoder.ebarterx.app</string>
	<key>PROJECT_ID</key>
	<string>ebarterx-app22</string>
	<key>STORAGE_BUCKET</key>
	<string>ebarterx-app22.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120154997705:ios:374ce0356b872e2e951e18</string>
</dict>
</plist>